* {
  margin: 0;
  padding: 0;
  font-family: arial;
  color: black;
  /*color: #FFBC42;*/
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


canvas {
  border: 3px solid #333;
  border-radius: 3px;
}

.header-style {
  position: absolute;
  top: 10%;
  margin: auto;
}
